.cartCanvas {
    z-index: 1000 !important;
}

.offcanvasHeader {
    padding: 0 0 20px !important;
}

.addedItemsText {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.addedItemsText p {
    font-size: 13px;
    font-weight: 600;
}

.miniCartInfo {
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
}

.itemCartCount {
    font-size: 14px;
    font-family: "salom-regular", sans-serif;
    vertical-align: sub;
}

.totalPrice {
    font-family: "salom-semibold";
    font-size: 24px;
    float: right;
}